# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
attendico-register/node_modules
attendico-dashboard/node_modules


attendico-register/.env
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
